@import 'bulma/css/bulma.css';

/* Make buttons in panel-tabs look like anchors */
.panel-tabs button {
  all: unset;
  border-bottom-color: var(--bulma-panel-tab-border-bottom-color);
  border-bottom-style: var(--bulma-panel-tab-border-bottom-style);
  border-bottom-width: var(--bulma-panel-tab-border-bottom-width);
  margin-bottom: -1px;
  padding: 0.75em;
  cursor: pointer;
}

.panel-tabs button.is-active {
  border-bottom-color: hsl(var(--bulma-panel-h), var(--bulma-panel-s), var(--bulma-panel-color-l));
  color: var(--bulma-panel-tab-active-color);
}
.comments-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 #363636;
}

.comments-scroll::-webkit-scrollbar {
  width: 8px;
}

.comments-scroll::-webkit-scrollbar-track {
  background: #363636;
}

.comments-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.hide-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
